$bk1: hsl(273, 75%, 66%);
$bk2: hsl(240, 73%, 65%);
$font1: 'Kumbh Sans', sans-serif;

body {
  background: linear-gradient(0, $bk2, $bk1) no-repeat center center fixed;
  font-family: $font1;
  overflow: hidden;
}
.wrapper {
  left: 50%;
  top: 80%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}
.container {
  float: left;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
  width: 920px;
  height: 510px;
  border-radius: 20px;
  overflow: hidden;
  .back_dskt {
    transform: translate(-60%, -31.5%);
  }
  .text-container {
    z-index: 20;
    box-sizing: border-box;
    position: absolute;
    top: 9%;
    left: 52%;
    color: black;
    width: 355px;
  }
}
.lady {
  position: absolute;
  top: 14%;
  left: -9%;
}
.box {
  position: absolute;
  top: 8%;
  left: -1%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  float: left;
}
h1 {
  padding-bottom: 21px;
}
.accordion-item-header {
  font-size: 14px;
  display: flex;
  position: relative;
  cursor: pointer;
  &:hover {
    color: hsl(14, 88%, 65%);
  }
  &::after {
    content: url('/images/icon-arrow-down.svg');
    position: absolute;
    font-size: 2rem;
    right: 20px;
    top: -10px;
  }
  &.active::after {
    transform: rotate(180deg);
    top: -6px;
  }
  &.active {
    font-weight: bold;
    color: black;
  }
}

.accordion-item-body {
  display: none;
}
.accordion-item-body-content {
  margin-top: 14px;
  font-size: 14px;
  font-size: 12px;
  line-height: 18px;
  color: grey;
}

hr {
  margin-top: 17px;
  margin-bottom: 17px;
  opacity: 0.2;
}

@media screen and (max-width: 1000px) {
  .container {
    top: 115px;
    width: 330px;
    height: 525px;
    overflow: visible;
    .text-container {
      width: 250px;
      left: 35px;
      h1 {
        margin-bottom: 73px;
        position: relative;
        left: 100px;
        top: 50px;
      }
      .accordion-item-header {
        font-size: 13px;
        &::after {
          right: -1.5rem;
        }
      }
    }
  }
  .lady {
    position: absolute;
    top: -115px;
    left: 40px;
    width: 250px;
  }
  .box {
    top: -150px;
    left: 80px;
    width: 100px;
  }
  .back_dskt {
    display: none;
  }
}
